.second_section {
    background-color: #fff;
}
.second_section_main_div {
    max-width: 1110px;
    width:100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 0px 32px 0px;
}
.second_section_main_div h3{
    color: #141719;
    font-size: 24px;
    font-weight: 700;
}
.second_section_main_div button {
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    width: 134px;
    height: 52px;
    padding:16px 32px;
    box-sizing: border-box;
    cursor: pointer;
    background-color:#fff;
}
.second_section_main_div p {
    font-size: 16px;
    line-height: 1.7;
    color: #555f62;;
}
.flex_column {
    gap:24px;
    display: flex;
    flex-direction: column;
}
.buttons_flex {
    display: flex;
    gap:20px;
}