body {
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4,h5, h6 {
    padding:0; 
    margin:0;
}
hr {
    height: 0.5px;
}
button{
    transition: all 0.5s;
}
main {
    padding-top:79px;
}
.first_section, .third_section {
    background-color: #f9fafa;   
}
.third_section{
    padding-bottom: 80px;
}
.first_section_main_div, .third_section_main_div, .footer_top, .footer_main, .footer_bottom {
    max-width: 1110px;
    width:100%;
    margin:auto;
}
.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
.awards_scrollbar  .card{
    background-color: #fff;
    border: none;
    justify-content: space-around;
}
.bi-search {
    font-size: 20px;
}