body {
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
.first_section {
    background-color: #f9fafa;   
}
.first_section_main_div {
    max-width: 1110px;
    width:100%;
    margin:auto;
}


