body {
    margin:0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4,h5, h6 {
    padding:0; 
    margin:0;
}
.first_section {
    background-color: #f9fafa;   
}
.first_section_main_div {
    max-width: 1110px;
    width:100%;
    margin:auto;
}



.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section_title a{
    display: flex;
    text-decoration: none;
    color: #182cc0;
    gap:5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
}
.flex_scrollbar { 
    display: flex;
    overflow:auto;
    gap:30px;
    scrollbar-width: 100px;
    padding-bottom:50px;
}
.card {
    width:350px;
    height: 391px;
    border: 1px solid #e1e4e5;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
}



