.second_section {
    background-color: #fff;
}
.second_section_main_div {
    max-width: 1110px;
    width:100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 0px 32px 0px;
}
.second_section_main_div h3{
    color: #141719;
    font-size: 24px;
    font-weight: 700;
}
.buttons_flex button {
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    /* width: 134px;
    height: 52px; */
    padding:16px 32px;
    box-sizing: border-box;
    cursor: pointer;
    background-color:#fff;
}
.second_section_main_div button:hover {
   background-color: #f9fafa
}
.second_section_main_div p {
    font-size: 16px;
    line-height: 1.7;
    color: #555f62;;
}
.flex_column {
    gap:24px;
    display: flex;
    flex-direction: column;
}
.buttons_flex {
    display: flex;
    gap:20px;
}
.btn_for_mobile, .text_for_mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .second_section_main_div {
        flex-direction: column;
    }
    .buttons_flex, .text_for_desktop {
        display: none;
    }
    .btn_for_mobile, .text_for_mobile{
        padding:15px;
        display: block;
    }
    .btn_for_mobile {
        width:350px;
        color: #182cc0;
        border: 1px solid #182cc0;
        background-color: #f9fafa;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.33;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .btn_for_mobile:hover {
        border:1px solid gainsboro;
    }
    .second_section_main_div img {
        width:92%;
    }
    .second_section_main_div h3 {
        padding-bottom: 15px;
        
    }
  }