.header {
    background-color: #fff;
    border-bottom: 1px solid #eef1f1; 
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    z-index: 1000;
    height:79px;
}
.header a{
   color: #555f62;
}
.header_main_div {
    width:100%;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo svg{
    color: #555f62;
}
.header_nav_menu {
    display: flex;
   
}
.nav_link{
    text-decoration: none;
    color:#222;
    padding:25px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
.header_buttons {
    display: flex;
    gap: 10px;   
}
.lang_btn{
    width:64px;
    height: 32px;
    border-radius: 4px;
    
}
.lang_btn:hover {
        background-color: #f9fafa;
}
.header_btn {
    display: flex;
    gap:7px;
    border:none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    color:#555f62;
    align-items: center;
    justify-content: center;
}
.blue_header_btn:hover, .search_header_btn:hover{
    color:#3295ce;
}
.blue_header_btn {
   color: #182cc0;
}
.burger {
    display: none;
  }
.header_logo_burger{
    display: none;
}

@media only screen and (max-width: 950px) {
    .header {
        padding-left:15px;
        padding-right:15px;
    }
   .header_nav_menu, .lang_btn {
    display: none;
   }
   .header_logo_burger {
    display: block;
    cursor: pointer;
   }
   .header_logo{
    display: none;
   }
   .burger{
    display: block;
    font-size: 25px;
  }
  }
